@{
    ViewData["Title"] = "Home Page";
}


<section class="hero">
    <div class="hero-bg d-flex align-items-center justify-content-center text-center text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="display-3 fw-bold text-uppercase mb-3">Welcome to TFC FastOrder</h1>
                    <p class="lead mb-4 fs-4">Đặt món nhanh chóng và tiện lợi</p>
                    <a href="/Menu" class="btn btn-outline-light btn-lg fw-bold px-5 py-3">
                        Xem Menu
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
